<%= stylesheet_link_tag 'page1', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>this paged got linked</h1>
<%= link_to 'go back', "index"%>
<h1>this paged got linked</h1>
<%= image_tag("download.jpg", :alt => "rss feed") %>
<%=link_to image_tag("cookie.jpg"), "/" %>
